@charset "UTF-8";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  /*всё приложение*/
  text-align: center;
  padding: 10px;
  width: 500px;
  height: 100%;
  background-color: #e7e7e4;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #bb8b8b;
  margin: 2px;
  font-size: 130px;
}

.container {
  /*внутренний "белый" блок*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: solid lightgrey 0.1px;
  overflow: hidden;
}

.input-style {
  /*стиль поля ввода*/
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  font-size: 22px;
  background-color: #f4f4f4;
  outline: none;
  padding-left: 35px;
  color: grey;
}

input::-webkit-input-placeholder {
  opacity: 0.5;
  color: #9c9c9c;
  font-style: italic;
  font-weight: 100;
}

input:-ms-input-placeholder {
  opacity: 0.5;
  color: #9c9c9c;
  font-style: italic;
  font-weight: 100;
}

input::-ms-input-placeholder {
  opacity: 0.5;
  color: #9c9c9c;
  font-style: italic;
  font-weight: 100;
}

input::placeholder {
  opacity: 0.5;
  color: #9c9c9c;
  font-style: italic;
  font-weight: 100;
}

.listItem {
  /*стиль полей с задачами*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: solid lightgrey 0.1px;
}

.task {
  /*текст с задачей*/
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 25px;
  font-weight: 100;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: solid lightgrey 0.1px;
}

.task.completed {
  /*текст если задача завершена*/
  text-decoration: line-through;
  color: black;
  opacity: 0.6;
}

.custom-checkbox input {
  /*стандартый чекбокс*/
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  /*стиль кружка*/
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid lightgrey 0.1px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 2px;
  vertical-align: middle;
}

.custom-checkbox .checkmark:after {
  /*стиль галочки*/
  content: "";
  display: none;
  margin-left: 7px;
  margin-top: 3px;
  width: 6px;
  height: 12px;
  border: solid green;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #B5B8B1;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-items-count {
  padding-top: 5.5px;
  font-size: 14px;
  font-weight: 400;
}

.footer-items-name {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

button {
  border: none;
  font-size: 12px;
  color: #B5B8B1;
  background: transparent;
  cursor: pointer;
}

button:hover {
  border: solid lightgrey 0.1px;
}
/*# sourceMappingURL=App.css.map */